[Unit]
Description=Odoo Server Development
Requires=postgresql.service
After=network.target postgresql.service

[Service]
#nice=9
Type=simple
Environment="CRYPTOGRAPHY_ALLOW_OPENSSL_102=1"
SyslogIdentifier=odoo-server-dev
PermissionsStartOnly=true
User=odoo
Group=odoo
ExecStart=/usr/bin/python3 /opt/server/odoo-bin -c /etc/odoo-server-dev.conf
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
